<nav class='topNavBar'>
    <div class='navTitle1'><a href="/">
    <img src="https://www.wildtexasthrifts.com/uploads/b/f29043102618496be3ea45d22fc52a1c95e9ec52317af5a9a750757103ab21f0/2020-08-31_13-16-19_1598897786.png" width="175" height="150"/></a>
    <a class='navTitle2' href="/"><div>Wild</div> <div class="texas">Texas</div> <div>Thrifts</div></a>
    </div>
    <div class="bar">
    <a href="/browse">Shop All</a>
    <% if(user) { %>
        <a href="/logout">Logout</a>
        <% if(user.isAdmin) { %>
            <a href="/admin">Admin Page</a>
            <a href="/new">New item</a>
        <% } %>
    <% } else { %>
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
    <% } %>
    </div>
</nav>
