<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Document</title>
</head>
<body>
    <ul>
        <%- store.map(store => 
        `<a href="/${store._id}"><li>${store.title}</li></a>
        <form action="/${store._id}?_method=DELETE" method="POST">
            <input type="submit" value="DELETE" />
        </form>
        <a href="/${store._id}/edit">Edit</a>
        `).join('') %>
    </ul>
    <a href="/new">New item</a>
</body>
</html>