<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Public/style.css">
    <title>Document</title>
</head>
<body>
    <form action="/" method="POST">
        Image URL: <input type="text" name="image_url" size="50" /><br>
        Descritpion: <br><textarea type="text" name="description" cols='50' rows='10'></textarea><br>
        Title: <input type="text" name="title" size="50" /><br>
        Sizes: <input type="text" name="sizes" size="10" /><br>
        Price: <input type="text" name="price" size="5" /><br>
        <input type="submit" value="Submit Changes" />
    </form>
</body>
</html>