.topNavBar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
    height: 200px;
    background-color: #6A4B35;
    margin: -10px 0px;
}
.navTitle1, .navTitle2 {
    font-size: 100px;
    width: 100vw;
    color:white;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.texas {
    margin: 0px -120px;
}
.bar {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-around;
}
.showImg {
    width: 500px;
    height: 500px;
}
.showContainer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;

}
body {
    background-color:   #35546A;
}
.showIndex {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-between;
    width: 100vw;
    margin: 0 px -50px;
    list-style-type: none;
    padding-left: 0;
}
li {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 350px;
    align-items: flex-start;
    justify-content: left;
}
.deleteBut {
    padding: 0px;
}
.editBut {
    padding: 0px;
    margin: -40px 0px 0px 0px;
    align-self: flex-end;
}
#showFont {
    font-size: 11;
    color: orange;
    padding: 0px;
    border-color: black;
    border: 10px;
    margin: 0px;
}
a {text-decoration: none;}
a:visited {
    color:white;
}
#showName {
    font-size: 25px;
    color: orange;
}

@media (max-width: 800px) {
    .navTitle2 { display: none; }
}
@media (max-width: 1050px) {
    .texas { display: none; }
}
@media (max-width: 550px) {
    .showIndex {     justify-content:center;}
}